html {
  font-family: "Open Sans", sans-serif;
}

.logo {
  font-family: "Bad Script", cursive;
  font-size: 5rem;
}

.purple {
  color: purple;
}

nav li a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 3px solid turquoise;
}

nav a:hover {
  color: black;
  background-color: turquoise;
}

.btn {
  color: #000;
  background-color: #f67f93;
  border-color: turquoise;
}

.btn:hover {
  color: black;
  background-color: turquoise;
  border-color: #f67f93;
}

.banner1 {
  border: 3px solid yellow;
}

footer {
  text-align: center;
}

.card {
  border: 5px solid purple;
}

.current {
  color: #000;
  background-color: #f67f93;
}
